* {
    outline-offset: 4px;
    box-sizing: border-box;
    border: none;
}
button {
    cursor: pointer;
    background-color: transparent;
}
body {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: Roboto;
    background-color: sienna;
}
/**:focus {*/
/*    border: 1px solid royalblue;*/
/*}*/
.wrapper {
    background-color: #fff;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 60px 60px;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 118px;
}

.logo {
    width: 200px;
    height: 42px;
    background-image: url(../images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.header-controls {
    display: flex;
}

.search-area {
    position: relative;
    float: right;
    width: 295px;
    height: 48px;
    margin-right: 18px;
    border: 1px solid #C7D2E9;
    border-radius: 26px;
    background-color: #F9F9FB;
}
.search {
    width: 100%;
    padding: 3px 40px 3px 10px;
    height: 100%;
    border: none;
    font-size: 20px;
    background-color: transparent;
}

.search-btn {
    position: absolute;
    right: 0;
    width: 56px;
    height: 46px;
    border: none;
    border-radius: 24px;
    background-image: url(../images/Union.png);
    background-size: 19px 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

.lang-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 52px;
    border-radius: 4px;
    background-color: #C7D2E9;
    margin-right: 8px;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #000;
}
.lang-btn:last-child {
    margin-right: 0;
}
.lang-btn.active {
    text-decoration: none;
}

.authorization {
    width: 46px;
    height: 46px;
    margin-left: 56px;
    background-image: url(../images/user.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/* Menu */
#menu {
    padding-top: 20px;
}

section {
    height: 400px;
    border-bottom: 1px solid #777;
}

#menu a {
    margin-right: 30px;
    text-decoration: none;
    color: #777777;
}

/* Tabs */
.nav-tab{
    font-size: 20px;
    margin-right: 10px;
    padding: 20px 30px 20px 30px;
    border: 2px solid#eeeeee;
    border-bottom: 0;
    text-decoration: none;
}
.nav-tab.active{
    background: #eeeeee;
    cursor: default;
}
.tab-content{
    font-size: 20px;
    background: #eeeeee;
}
.tab-pane{
    display: none;
    padding: 30px;
}
.tab-pane.active{
    display: flex;
}

/* Special */
.v-h {
    display: none;
}