@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    outline-offset: 4px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
    font-weight: 400;
}
img {
    width: 100%;
    max-width: 100%;
}
button {
    cursor: pointer;
    background-color: transparent;
}
body {
    color: #000;
    font-family: 'Roboto', sans-serif;
    background-color: gainsboro;
}
section {
    padding-bottom: 50px;
}
h2 {
    margin-bottom: 40px;
    font-size: 50px;
    line-height: 58px;
}
h3 {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 16px;
}
h4 {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 8px;
}
p {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 25px;
}
.modal:focus {
    border: 1px solid royalblue;
}
.modal__title:focus {
    color: red;
    border: 1px solid royalblue;
}
.page-wrapper {
    position: relative;
    background-color: #fff;
    max-width: 1440px;
    margin: 0 auto;
}
.main-wrap {
    padding: 0 207px 110px;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 118px;
}

.logo {
    width: 200px;
    height: 42px;
    background-image: url(../images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.header-controls {
    display: flex;
}

.search-area {
    position: relative;
    float: right;
    width: 295px;
    height: 48px;
    margin-right: 18px;
    border: 1px solid #C7D2E9;
    border-radius: 26px;
    background-color: #F9F9FB;
}
.search {
    width: 100%;
    padding: 3px 40px 3px 10px;
    height: 100%;
    border: none;
    font-size: 20px;
    background-color: transparent;
}

.search-btn {
    position: absolute;
    right: 0;
    width: 56px;
    height: 46px;
    border: none;
    border-radius: 24px;
    background-image: url(../images/Union.png);
    background-size: 19px 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

.lang-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 52px;
    border-radius: 4px;
    background-color: #C7D2E9;
    margin-right: 8px;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #000;
    transition: all .3s ease;
    cursor: pointer;
}
.lang-btn:last-child {
    margin-right: 0;
}
.lang-btn.active {
    text-decoration: none;
}
.lang-btn:hover {
    color: white;
    background-color: cornflowerblue;
}

.authorization {
    width: 46px;
    height: 46px;
    margin-left: 56px;
    background-image: url(../images/user.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/* Menu */
.nav-menu {
    margin-bottom: 37px;
    padding-top: 20px;
}

.nav-menu a {
    font-size: 18px;
    line-height: 22px;
    margin-right: 20px;
    text-decoration: none;
    color: #000;
}

.actions-button-area {
    margin-top: 48px;
    margin-bottom: 120px;
}

.button {
    font-size: 18px;
    line-height: 22px;
    margin-right: 40px;
    padding: 18px 22px;
    border-radius: 5px;
    color: white;
    background-color: cornflowerblue;
    transition: all .3s ease;
}

.button:hover {
    background-color: royalblue;
}

/* Tabs */
.nav-tab{
    font-size: 22px;
    line-height: 26px;
    margin-right: 63px;
    color: #000;
}
.nav-tab.active{
    padding: 17px 62px 15px;
    background: #C7D2E9;
    border-radius: 8px;
    text-decoration: none;
}
.nav-tab:hover {
    text-decoration: none;
}
.nav-tabs {
    margin-bottom: 48px;
}
/*.tab-content{*/
/*    font-size: 20px;*/
/*}*/
.tab-pane{
    display: none;
}

.tab-pane__item {
    width: 30%;
    margin-bottom: 70px;
}
.tab-pane__item img {
    margin-bottom: 24px;
}
.tab-pane.active{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tab__text {
    font-size: 16px;
    line-height: 18px;
}

#museum .tab__text {
    margin-top: -8px;
}

.tab__button {
    margin-top: 24px;
    font-size: 16px;
    line-height: 18px;
    text-decoration: underline;
}
.tab__button:hover {
    text-decoration: none;
}

.slider {
    width: 100%;
    height: 599px;
    background-image: url("../images/slider.png");
    background-size: cover;
}

.read-more-btn {
    margin-top: 48px;
}

/* Special */
.v-h {
    display: none;
}

#skip-link_main {
    background-color: #C7D2E9;
    height: 30px;
    left: 207px;
    padding: 8px;
    position: absolute;
    color: #000;
    transform: translateY(-100%);
    transition: transform 0.3s;
}

#skip-link_main:focus {
    transform: translateY(0%);
}

/* Popup */
.overlay {
    /* Скрываем подложку  */
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 20;
    transition: all .3s ease;
}
/* Стили для модальных окон */
.modal {
    /* Скрываем окна  */
    opacity: 0;
    display: none;
    /*  Установаем ширину окна  */
    width: 792px;
    /*  Центрируем и задаем z-index */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30; /* Должен быть выше чем у подложки*/
    /*  Побочные стили   */
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
    text-align: center;
    padding: 70px 150px 84px;
    border-radius: 3px;
    background-color: #fff;
    transition: all .3s ease;
}

.modal__submit {
    width: 100%;
    height: 65px;
    background: #C7D2E9;
    border-radius: 8px;
    font-size: 30px;
    line-height: 35px;
    transition: all .3s ease;
}
.modal__submit:hover {
    color: white;
    background-color: cornflowerblue;
}
.modal.active {
    opacity: 1;
    display: block;
}
.overlay.active {
    opacity: 1;
    visibility: visible;
}
.modal__title {
    font-size: 50px;
    line-height: 58px;
    margin-bottom: 57px;
    text-align: left;
}

/* Стили для кнопки закрытия */
.modal__close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
}

.footer {
    height: 386px;
    background: #F1F1F1;
}

/* Форма */
form input {
    display: block;
    width: 100%;
    height: 65px;
    margin-bottom: 57px;
    background: #F9F9FB;
    border: 1px solid #C7D2E9;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 30px;
    line-height: 35px;
    padding: 14px 20px 16px;
    color: #555;
}

.col-12 {
    width: 100%;
}

.video {
    margin-bottom: 70px;
}